[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/creative"]
	path = themes/creative
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/gofolium"]
	path = themes/gofolium
	url = git@github.com:mattvenn/gofolium
